body {
    font-family: verdana;
}

header {
    background-color: #AFAFAF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header span {
    font-weight: bold;
    margin-right: 30px;
}
header img {
    width: 50px;
    height: auto;
    padding: 10px;
}
h1 {
    color: #0082D1;
}

h3 {
    margin: 1em
}

footer {
    background-color: #FF5F00;
    text-align: center;
    padding: 1px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

li {
    border: 0.1rem outset rgb(0, 0, 0);
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
    text-align: center;
}