:root {
    --htw-gruen: #76B900;
    --htw-gruen-hell: #f9fcf4;
    --htw-gruen-mittel: #edf5df;
    --htw-blau: #0082D1;
    --htw-grau: #AFAFAF;
    --htw-orange: #FF5F00;
}

html {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

header {
    background-color: var(--htw-grau);
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
        width: 3rem;
        margin: 0.5rem;
    }

    span {
        text-align: right;

        font-weight: bold;
        margin: .5rem;
        padding: .5rem;
    }
}

main h1 {
    color: var(--htw-blau);
}

main h3 {
    margin-left: 2rem;
}

ul {
    list-style-type: none;

    li {
        border: 2px solid black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: .5rem;
        margin-top: .4rem;
        margin-bottom: .4rem;
        margin-left: -.4rem;
        padding: .4rem;
        width: 40vw;

        a {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
            color: var(--htw-blau);
        }

        a:link {
            text-decoration: none;
            color: red;
        }
    }

    li:hover {
        background-color: rgb(191, 206, 191);
        border-color: var();
        color: green;
        font-weight: bold;

        a:visited {
            color: green;
        }

        a:link {
            color: green;
        }
    }
}

main {
    flex: 1;
    background-color: var(--htw-gruen-hell);
    padding-left: 1rem;/*Mein Abstand des Bodys links auf der Webseite*/

    /*Wenn ich über dem Bild hovere, dann sehe ich Bildquelle/Copyright */
    .img-wrapper {
        position: relative;
        display: inline-block;
    }

    .img-src {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--htw-blau);
        color: white;
        padding: 0.2rem;
        font-size: 0.6rem;
    }

    .img-wrapper:hover img:hover + .img-src {
        display: block;
    }
}

#indexmain {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

aside {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    background-color: var(--htw-gruen-mittel);
    text-align: center;
}
img {
    width: 40%;
}

table {
    border-collapse: collapse;
    width: 50%;

    thead {
        background-color: var(--htw-gruen);

        tr th {
            padding: .5rem;
            text-align: start;
        }
    }

    tbody {

        tr:nth-child(even) {
            background-color: rgb(214, 214, 214);
        }

        tr:nth-child(odd) {
            background-color: rgb(235, 234, 234);
        }
    }

    tbody tr:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }

    td,
    th {
        padding: 3%
    }

}

.plan-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--htw-blau);
    color: white;
    border-radius: 0.5rem;
    text-decoration: none;
    margin-top: 2rem;
    /* Abstand zwischen der Tabelle und dem Button*/
}

.plan-btn:hover {
    background-color: var(--htw-gruen);
    font-weight: bold;
}

footer {
    background-color: var(--htw-orange);
    text-align: center;
    padding: 0.1em;
    margin-top: auto;
}
